* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    color: hsl(201, 11%, 66%)
}

body {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}

header {
    background-image: url("images/bg-header-mobile.png");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    padding: 75px 100px;
}

header img {
    display: block;
    margin: auto;
}

main {
    margin: 0 35px;
}

h1 {
    margin: 0;
    margin-bottom: 25px;
}

h1, h2, h3 {
    color: hsl(210, 10%, 33%); 
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.6rem;
}

h2, h3 {
    margin-bottom: 20px;
}

button {
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 20px 80px;
    display: block;
    margin: 20px auto;
    font-size: 1.1rem;
    font-family: 'Bai Jamjuree', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:hover {
    background-color: blue;
}

.iosButton {
    background-color:hsl(171, 66%, 44%);
    margin-top: 30px;
}

.macButton {
    background-color: hsl(233, 100%, 69%);
}

section {
    margin-top: 125px;
}

main img {
    width: 100%;
    margin: 40px 0;
}

.descIcon {
    width: 20%;
    margin: 25px 0;
}

#marginPush {
    margin-top: 75px;
}

#companyLogos {
    width: 50%;
    margin: 75px auto;
}

footer {
    background-color: rgba(243,248,250,255);
    padding: 50px 0;
    margin-top: 150px;
}

#footerLink a {
    display: block;
    text-decoration: none;
    margin: 25px 0;
    color: hsl(210, 10%, 33%);
}
footer p {
    color: rgba(86,89,96,255);
    margin-top: 35px;
    font-size: 18px;
}

#clipboardSmall {
    width: 15%;
    height: 15%;

}

#socialIcons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.attribution {
    margin: 0;
    background-color:rgba(243,248,250,255);
}



@media only screen and (min-width: 600px) {
    main, footer div {
        max-width: 608px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1080px) {
    header {
        background-image: url("images/bg-header-desktop.png")
    }

    button {
        display: inline-block;
        padding: 20px 60px;
    }

    .iosButton {
        margin-right: 10px;
    }

    .macButton {
        margin-left: 10px;
    }

    #desktopContent {
        display: flex;
        text-align: left;
    }

    #col1 {
        width: 100vw;
        margin-left: -290px;
        margin-right: 100px;
    }

    #col2 {
        margin-right: -150px;
    }
    
    #tripleIcon {
        display: flex;
        margin-top: 50px
    }

    #tripleIcon img {
        height: 35px;
        width: 40px;
    }

    #marginPush {
        margin: 25px 0;
    }

    #iconCol1 {
        margin-left: -150px;
    }

    #iconCol1, #iconCol2, #iconCol3 {
        width: 100vw;
    }

    #iconCol3 {
        margin-right: -150px;
    }
    
    #companyLogos {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: none;
    }
    
    #companyLogos div {
        width: 100vw;
        margin: 100px 0;
    }

    #compLogo1 {
        margin-left: -300px;
    }
    
    #compLogo2 {
        margin-left: -150px;
    }
   

    
    #compLogo4 {
        margin-right: -150px;
    }
    
    #compLogo5 {
        margin-right: -300px;
    }
    
    footer {
        padding: 25px 0;
    }

    #footFlex {
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #footFlex div {
        width: 100vw;
    }
    
    #footerLink {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: left;
    }

    #footCol {
        margin: 0;
        margin-left: -300px;
    }

    #socialIcons {
        justify-content: space-around;
        margin-right: -250px;
        margin-left: 20px;
    }

    #socialIcons img {
        height: 25px;
        width: 25px;
    }

    footer a {
        text-decoration: none;
        color: hsl(210, 10%, 33%); 
    }

    #footerLink a {
        margin: 20px 0 0 0;
    }
}